- name: install python
  ansible.builtin.dnf:
    name:
      - python3
      - gcc
      - python3-devel
    state: present


- name: install dependencies
  ansible.builtin.pip:
    requirements: requirements.txt
    executable: pip3.9
  args:
    chdir: /app